
<div class="container" id="home_jumbo">
	<div class="jumbotron" id="main_jumbo">
	  <div class="jumbo_content">
  	  	  <h1>Hello<%=" #{@user.first_name}" if @user %>!</h1>
		  <p>Welcome to Nicki Keszler's Super Awesome Image Uploader</p>
		  <% if @user %>
		  	<a class="btn btn-primary btn-lg" role="button" href="/images/upload">Get Started</a>
		  <% else %>
		  	<a class="btn btn-primary btn-lg" role="button" data-toggle='modal' data-target='#logInModal' href='#'>Log In</a>
		  	<a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#myModal" href='#'>Sign Up</a>
		  <% end %>
	  </div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="x-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Please enter your information.</h4>
      </div>
      <div class="modal-body">
      	<form class="form-horizontal" role="form" id="sign-up-form" method="post" action="/users/new">
      	  <div class="form-group">
		    <label for="inputFirst3" class="col-sm-2 control-label">First</label>
		    <div class="col-sm-4">
		      <input type="name" name="first_name" class="form-control" id="inputFirst3" placeholder="First">
		    </div>
		    <label for="inputLast3" class="col-sm-2 control-label">Last</label>
		    <div class="col-sm-4">
		      <input type="name" name="last_name" class="form-control" id="inputLast3" placeholder="Last">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Password Confirmation</label>
		    <div class="col-sm-10">
		      <input type="password" name="passwordc" class="form-control" id="inputPasswordC3" placeholder="Password Confirmation">
		    </div>
		  </div>
		  <p id="password-error">Passwords do not match</p>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modal-close" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" id="modal-sign-up" form="sign-up-form" disabled>Sign up</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button id="x-close" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Please enter your information.</h4>
      </div>
      <div class="modal-body">
      	<form class="form-horizontal" role="form" id="log-in-form" method="post" action="/users/session">
		  <div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		      <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="modal-close" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" type="submit" id="modal-log-in" form="log-in-form">Log in</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="container" id="home_info">
	<div class="container" id="info_well">
		<div class="well well-lg">
			Hey!
			<div id="images_well">
				<% if @user %>
					<% @user.photos.each do |photo|%>
						<img src=<%=photo.picture.url%> height="200">
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
