<div class="container" id="home_jumbo">
	<div class="jumbotron" id="main_jumbo">
	  <div class="jumbo_content">
		  <h1>Hello, User!</h1>
		  <p>Welcome to Nicki Keszler's Super Awesome Image Uploader</p>
		  <p><a class="btn btn-primary btn-lg" role="button">Sign In</a></p>
	  </div>
	</div>
</div>
<div class="container" id="home_info">
	<div class="container" id="info_well">
		<div class="well well-lg">
			Hey!
		</div>
	</div>
</div>
