<html>
	<head>
		<title>Image Uploader</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/application.css" rel="stylesheet">
	</head>
	<body>
<!-- 		<div class="panel panel-default" id="top_cover">
			<div class="panel-body">
  		</div>
		</div> -->
		<div class="panel panel-default" id="menu_header_vert">
			<div class="panel-body">
  		</div>
		</div>
		<div class="panel panel-default" id="menu_header">
			<div class="panel-body" id="header_title">
    		Image Uploader
  		</div>
		</div>
		<div class="btn-group" id="dropdown_menu">
	  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
	    	<img src="/images/Menu.png" id="menu_img">
	    	<!-- <span class="caret"></span> -->
	  	</button>
	  	<ul class="dropdown-menu" role="menu">
	    	<li><a href="#">Action</a></li>
	    	<li><a href="#">Another action</a></li>
	    	<li><a href="#">Something else here</a></li>
	    	<li class="divider"></li>
	    	<li><a href="#">Separated link</a></li>
  		</ul>
		</div>
		<%= yield %>
		<script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/application.js"></script>
	</body>
</html>